# Compiled JavaScript files
lib/**/*.js
lib/**/*.d.ts
lib/**/*.js.map
lib/**/*.json

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
